<div class="wrapper">
  <table class="table-responsive table-vaccine">
    <thead role="rowgroup">
      <tr role="row" class="header-row">
        <th role="columnheader" class="table-column">#</th>
        <th role="columnheader">Name</th>
        <th role="columnheader">Email</th>
        <th role="columnheader">Avatar</th>
        <th role="columnheader"></th>
        <th role="columnheader"></th>
      </tr>
    </thead>
    <tbody role="rowgroup" *ngFor="let product of data; let i = index">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ product.first_name }}</td>
        <td>{{ product.email }}</td>
        <td><img src="{{ product.avatar }}" alt="" /></td>
        <td>
          <button class="btn btn-success" routerLink="/admin/{{ product.id }}">
            info
          </button>
        </td>
        <td>
          <button
            class="btn btn-danger"
            (click)="handleDeleteProduct(product.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
