<app-product-detail [detail]="productDetail"></app-product-detail>

<table class="table table-bordererd">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of productList; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.status ? "Con hang" : "Het hang" }}</td>
      <td>
        <button (click)="handleInfo(product.id)" class="btn btn-danger">
          info
        </button>
      </td>
    </tr>
  </tbody>
</table>
